// Specific CSS for your home-page
body {
  background-image: image-url("nathan-riley-288990-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;

}

div.form-wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 80px;
}

div.form-group {
  display: inline-block;
}

.btn-danger {
  width: 200px;
}

.form-control-label {
  color: white;
}

#search_starts_at, #search_ends_at {
  background-color: white;
}

