h1, h3 {
  text-align: center;
  color: black;
}

#new_mooring {
  display: inline-block;
}

#new_mooring > label {
  color: black;
}

div.new-mooring h1 {
  font-size: 60px;
}

#mooring-listings {
  width: 800px;
  display: block;
}
